<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berrontech.upgrade.repository.mapper.UserAppMapper">
    <sql id="columns">
        ua.id          as ua_id,
        ua.user_id     as ua_user_id,
        ua.app_id      as ua_app_id,
        ua.role        as ua_role,
        ua.create_time as ua_create_time,
        ua.update_time as ua_update_time,
        ua.deleted     as ua_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_user_app as ua
        where ua.deleted = false
    </sql>
    <sql id="select_with_app">
        select
        <include refid="columns"/>,
        <include refid="com.berrontech.upgrade.repository.mapper.AppPackageMapper.columns"/>
        from t_user_app as ua left outer join t_app_package as ap on ua.app_id=ap.id where (ua.deleted=false and
        ap.deleted=false)
    </sql>
    <resultMap id="rm_base" type="com.berrontech.upgrade.commons.entity.UserApp">
        <id column="ua_id" property="id"/>
        <result column="ua_user_id" property="userId"/>
        <result column="ua_app_id" property="appId"/>
        <result column="ua_role" property="role"/>
        <result column="ua_create_time" property="createTime"/>
        <result column="ua_update_time" property="updateTime"/>
        <result column="ua_deleted" property="deleted"/>
    </resultMap>
    <resultMap id="rm_with_app" type="com.berrontech.upgrade.commons.entity.UserApp" extends="rm_base">
        <association property="app" resultMap="com.berrontech.upgrade.repository.mapper.AppPackageMapper.rm_base"/>
    </resultMap>
    <select id="selectByUserAndApp" resultMap="rm_base">
        <include refid="select"/>
        and (ua.app_id=#{appId} and ua.user_id=#{userId})
        limit 1
    </select>
    <select id="selectByUserFetchApp" resultMap="rm_with_app">
        <include refid="select_with_app"/>
        and ua.user_id=#{userId}
    </select>
    <select id="selectRoleByUserAndApp" resultType="integer">
        select ua.role
        from t_user_app as ua
        where ua.deleted = false
          and ua.user_id = #{userId}
          and ua.app_id = #{appId}
    </select>
</mapper>